@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.banner-main-home {
  top: calc(50% - 190px);
}

.template-grid {
  grid-template-areas: 
    "missao"
    "proposito"
    "valores"
    "visao"
  ;
}

.missao {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 1;
}

.proposito {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
}

.visao {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
}

.valores {
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 2;
}

.item-grid ul {
  list-style: disc;
  text-align: left;
  padding: 0 15px;
}

.button-linkedin {
  font-size: 0;
  background: url('https://ozksgdmyrqcxcwhnbepg.supabase.co/storage/v1/object/public/assets/7759/e181a7fb-c85d-4b29-9ea3-88a8cda2d737') no-repeat center;
  width: 45px;
  height: 45px;
  display: block;
}

.content-text-map {
  margin-top: calc(20% - 150px);
  margin-left: 10%;
  margin-right: 10%;
}